<a href="https://colab.research.google.com/github/cansahin9/Examples/blob/master/Copy_of_cmpe363_labfinal_Answer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Q1) Import the numpy, pandas, matplotlib.pyplot and libraries.** (+5 points)

In [ ]:
# Importing the libraries
import numpy as np # for array operations
import pandas as pd # for working with DataFrames
import matplotlib.pyplot as plt # for data visualization

**Q2) Read the data. Use and print the first 5 row from the data.** (+5 points)

In [ ]:
# Reading the data
dataset = pd.read_csv('trainmaternal _withNulls.csv')
#Print the first 5 rows
dataset.head()

    Age  SystolicBP  DiastolicBP    BS  BodyTemp  HeartRate  RiskLevel
0  25.0         NaN         80.0  15.0      98.0       86.0  high risk
1  35.0       140.0          NaN  13.0      98.0       70.0  high risk
2  29.0        90.0         70.0   8.0       NaN       80.0  high risk
3  30.0       140.0         85.0   7.0      98.0       70.0  high risk
4  35.0       120.0         60.0   6.1      98.0       76.0   low risk

**Q3) As you can see the classification target which is 'RiskLevel' in string form. Change these values to integers like:** (+10 points)

- low risk to 0
- mid risk to 1
- high risk to 2

Then print the first 5 row again to see the difference.

In [ ]:
#Change the RiskLevel values to integer.
dataset['RiskLevel'] = dataset['RiskLevel'].replace('low risk', 0).replace('mid risk', 1).replace('high risk', 2)

In [ ]:
#Print the first 5 row and see the difference.
dataset.head()

    Age  SystolicBP  DiastolicBP    BS  BodyTemp  HeartRate  RiskLevel
0  25.0         NaN         80.0  15.0      98.0       86.0          2
1  35.0       140.0          NaN  13.0      98.0       70.0          2
2  29.0        90.0         70.0   8.0       NaN       80.0          2
3  30.0       140.0         85.0   7.0      98.0       70.0          2
4  35.0       120.0         60.0   6.1      98.0       76.0          0

**<font color='red'>Important Note : </font>** As you can see, there are some NULL values (NaN) in the dataset. You need to handle them later.

**Q4) Check is there null values (NaN) in the dataset.** (+5 points)

**Show there are some Null values in some columns.**

In [ ]:
# Use info() function
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 915 entries, 0 to 914
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          914 non-null    float64
 1   SystolicBP   903 non-null    float64
 2   DiastolicBP  904 non-null    float64
 3   BS           913 non-null    float64
 4   BodyTemp     912 non-null    float64
 5   HeartRate    910 non-null    float64
 6   RiskLevel    915 non-null    int64
dtypes: float64(6), int64(1)
memory usage: 50.2 KB

In [ ]:
# Use isnull() function
dataset.isnull()

       Age  SystolicBP  DiastolicBP     BS  BodyTemp  HeartRate  RiskLevel
0    False        True        False  False     False      False      False
1    False       False         True  False     False      False      False
2    False       False        False  False      True      False      False
3    False       False        False  False     False      False      False
4    False       False        False  False     False      False      False
..     ...         ...          ...    ...       ...        ...        ...
910  False       False        False  False     False      False      False
911  False       False        False  False     False      False      False
912  False       False        False  False     False      False      False
913  False       False        False  False     False      False      False
914  False       False        False  False     False      False      False

[915 rows x 7 columns]

##**Q5) Filling missing (null) values.** (+20 points, 5 for each method)

**a ) Create a new dataset (a new version of the original one) with replacing the null values with 0 (zero).**

You can give names to new datasets like dataset1, dataset2, dataset3, dataset4.

In [ ]:
# Create a dataset with filling missing (null) values with zero. Do not change the original dataset.
dataset1 = dataset.fillna(0)

NameError: ignored

In [ ]:
#print the first 10 rows of this new dataset.
dataset1.head(10)

**b ) Create a new dataset (a new version of the original one) with replacing the null values with next value on that column.**

In [ ]:
# Create a dataset with filling missing values with next ones. Do not change the original dataset.  
dataset2 = dataset.fillna(method ='bfill')

In [ ]:
#print the first 10 rows of this new dataset.
dataset2.head(10)

**c ) Create a new dataset (a new version of the original one) with dropping (deleting) null values.**

In [ ]:
# create a new dataset with dropping null values. Do not change the original dataset. 
dataset3 = dataset.dropna()

In [ ]:
#print the first 10 rows of this new dataset.
dataset3.head(10)

In [ ]:
#Show the shape of this dataset
dataset3.shape

**<font color='red'>Important Note : </font>** As you can see when you delete the rows that has null values your dataset got smaller. This is not desirable when you have little data. We lost data. Do not lose data even if the results are better for this problem.

**d ) Create a new dataset (a new version of the original one) with replacing the null values with the mean (average) value on that column for each class.**

In [ ]:
# Create a dataset with filling the null values with the mean of the values from that column for each class. Do not change the original dataset. 
dataset4 = (dataset.fillna(dataset.groupby('RiskLevel').transform('mean'))
                      .astype(int))

In [ ]:
#print the first 10 rows of this new dataset.
dataset4.head(10)

<font color='red'>**Important Note:**</font> After this point, you can continue with the dataset that you want. 

If you want, you can try all of them and find the best one with your model. Or you can use different technique to handle null values.

#**Random Forest Classification**

**Q6) Split data into X (features) and y (target).** (+5 points)

Target should be 'RiskLevel' column.

In [ ]:
y = dataset4['RiskLevel']
X = dataset4.drop(['RiskLevel'], axis=1)

**Q7) Split data into train and test sets. You can use train_test_split function. 20% of data should be test set. Also you should split randomly (random_state =42)** (+5 points)

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=0.2, 
                                                    random_state=42)

**Q8) Scale the values.** (+10 points)

You can try any scaling method you want and continue with them. But you need to use one of them.

In [ ]:
#Scaling
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
n_scaler = MinMaxScaler()
X_train_scaled = n_scaler.fit_transform(X_train.astype(np.float)) #fit_transform
X_test_scaled = n_scaler.transform(X_test.astype(np.float)) #transform

<ipython-input-21-5ddf04a09cd3>:5: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  X_train_scaled = n_scaler.fit_transform(X_train.astype(np.float)) #fit_transform
<ipython-input-21-5ddf04a09cd3>:6: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  X_test_scaled = n_scaler.transform(X_test.astype(np.float)) #transform

**Q9) Create the RandomForestClassifier Model with only given parameters.** (+10 points)

* n_estimators=3, 
* max_depth=2

**Fit the train data to the model. Then make predictions according to test set.**

**Print the classification report according to y_test and y_predict according to this model.**

In [ ]:
from sklearn.ensemble import RandomForestClassifier

rfc = RandomForestClassifier(n_estimators=3, 
                             max_depth=2)

In [ ]:
# Fit RandomForestClassifier
rfc.fit(X_train_scaled, y_train)

# Predict the test set labels
y_pred = rfc.predict(X_test_scaled)

In [ ]:
from sklearn.metrics import classification_report

#print the classification report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.59      0.92      0.71        71
           1       0.77      0.29      0.42        58
           2       0.80      0.74      0.77        54

    accuracy                           0.67       183
   macro avg       0.72      0.65      0.64       183
weighted avg       0.71      0.67      0.64       183

#**Random Forest Hyperparameter Optimization** (+25 points)

In [ ]:
from sklearn.model_selection import GridSearchCV

In [ ]:
# Define the grid
param_grid = {
'n_estimators': [50, 100, 200],
'min_samples_leaf': [1, 5, 7],
'max_depth': [4, 6, 8],
'max_features': ['auto', 'sqrt'],
'bootstrap': [True, False]}

**Q10) Create a GridSearchCV model with using giving param_grid and fit with the scaled train data.**

Cross validation value should be 3
(cv = 3).

In [ ]:
# Create the GridSearchCV model
model_gridsearch = GridSearchCV(
estimator=rfc,
param_grid=param_grid,
cv=3
)

In [ ]:
# Fit the GridSearchCV model
model_gridsearch.fit(X_train_scaled, y_train)

GridSearchCV(cv=3,
             estimator=RandomForestClassifier(max_depth=2, n_estimators=3),
             param_grid={'bootstrap': [True, False], 'max_depth': [4, 6, 8],
                         'max_features': ['auto', 'sqrt'],
                         'min_samples_leaf': [1, 5, 7],
                         'n_estimators': [50, 100, 200]})

**Q11) Print the best parameters.**

In [ ]:
print(model_gridsearch.best_params_)

{'bootstrap': False, 'max_depth': 8, 'max_features': 'sqrt', 'min_samples_leaf': 1, 'n_estimators': 50}

**Q12) Create your final model with best parameters. Fit the scaled train data. Make the prediction and print the classification report.**

<font color='red'>**Important Note:**</font> **If you have time you can try different values of hyperparameter but you shouldn't give directly some random numbers. You have to complete GridSearchCV task.**

In [ ]:
rfc_last = RandomForestClassifier(bootstrap=True, max_depth= 8, max_features= 'sqrt', min_samples_leaf= 1, n_estimators= 50)

In [ ]:
# Fit RandomForestClassifier
rfc_last.fit(X_train_scaled, y_train)

RandomForestClassifier(max_depth=8, max_features='sqrt', n_estimators=50)

In [ ]:
# Predict on the test set 
y_pred_last = rfc_last.predict(X_test_scaled)

In [ ]:
print(classification_report(y_test,y_pred_last))

              precision    recall  f1-score   support

           0       0.70      0.87      0.78        71
           1       0.79      0.53      0.64        58
           2       0.79      0.81      0.80        54

    accuracy                           0.75       183
   macro avg       0.76      0.74      0.74       183
weighted avg       0.76      0.75      0.74       183

#**BONUS : +5 points** 

Try to find 

* **Best filling null values technique (You can use a different one than the given techniques).**

* **Best scaling method for this problem.**

* **Best hyperparameters for this problem.**

According to your final notebook I will train your model with the last filling null technique you chose, scaling method and hyperparameters. Then I will check the classification report with **my test data**. 

The solution that gives the best result according to the **F1 score** in the classification report will receive bonus points.

(F1 is the harmonic mean of precision and recall.)


**I will use this part to test your model with my test set. I will use your filling null strategy, scaling method and hyperparameters to train the model.**

In [ ]:
# Reading the data
test = pd.read_csv('testmaternal.csv')

#Change the RiskLevel values to integer.
test['RiskLevel'] = test['RiskLevel'].replace('low risk', 0).replace('mid risk', 1).replace('high risk', 2)

y_t = test['RiskLevel']
X_t = test.drop(['RiskLevel'], axis=1)

#Scaling
X_t_scaled = n_scaler.transform(X_t.astype(np.float)) #transform

# Predict on the test set 
y_pred_test = rfc_last.predict(X_t_scaled)

print(classification_report(y_t,y_pred_test))

              precision    recall  f1-score   support

           0       0.76      0.82      0.79        45
           1       0.67      0.40      0.50        25
           2       0.80      0.97      0.88        29

    accuracy                           0.76        99
   macro avg       0.74      0.73      0.72        99
weighted avg       0.75      0.76      0.74        99

<ipython-input-50-7522014e4a46>:11: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  X_t_scaled = n_scaler.transform(X_t.astype(np.float)) #transform